/* Stili Generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* Stili Main Parte Sottostante */
.main-container {
    height: 100vh;
    position: relative;
}

.sub-topbar {
    width: 100%;
    height: 150px;
    background: #009688;
}

.sub-background {
    width: 100%;
    height: calc(100% - 150px);
    background: #b9bbb4;
}

/* StILI BLOCCO APP */
.app-container {
    width: 80%;
    height: calc(100vh - 50px);
    margin: 0 auto;
    background: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper-up {
    height: 100%;
    display: flex;
}

/* STILI SIDEBAR */
#sidebar {
    min-width: 600px;
    height: 100%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

/* Stili Header Sidebar */
.header-sidebar {
    height: 80px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.box-profile {
    display: flex;
    align-items: center;
}

.box-profile img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

.box-profile .box-contact {
    margin-left: 10px;
}

.header-sidebar .personal-name {
    margin-left: 10px;
}

.box-profile .personal-name {
    font-size: 17px;
}

.header-icons {
    font-size: 25px;
    margin-right: 10px;
}

.header-icons i {
    color: #8f8f8f;
    padding: 0 8px;
}

/* Stili Box PopUp */
.popup-box {
    background: #8edafc;
    display: flex;
    align-items: center;
    padding: 15px 18px;  
}

.icon-popup {
    background-color: #ffff;
    border-radius: 50%;
    padding: 15px;
}

.icon-popup i {
    font-size: 23px;
    color: #8edafc;
}

.text-popup {
    margin-left: 10px;
}

.text-popup .title-popup {
    font-size: 16px;
}

/* Stili Box Input Search Chat */
.chat-search-box {
    display: flex;
    height: 60px;
    background: #fbfbfb;
    padding: 10px;
}

.chat-search-box .search-button {
    width: 80px;
    border: 1px solid #cccccc;
    cursor: pointer;
    margin-right: -1px;
    border-radius: 2px;
}

.search-button i {
    font-size: 19px;
    color: #8f8f8f;
    margin-top: 2px;
}

.chat-search-box .search-bar {
    flex: 1;
    padding-left: 10px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

/* Stili Lista Chats */
.list-chat-box {
    flex: 1;
    overflow-y: auto;
}

.box-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 22px;
    background: #f4f4f4;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
}

.box-chat:hover {
    background: #d6d6d6;
}

.active {
    background-color: #d8d8d8;
    border: none;
}

.box-chat img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.box-chat .box-contact {
    margin-left: 20px;
}

.box-chat .box-contact .personal-name {
    font-size: 19px;
}

.box-contact .preview {
    color: #8f8f8f;
}

.time-last-message {
    display: flex;
    align-self: flex-start;
}

.time {
    color: #8f8f8f;
}
 
/* STILI MAIN CONTENT */
#main-content {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
}

/* Stili Topbar */
#topbar {
    height: 80px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 2px solid #98a2b2;
    padding: 10px;
}

.access {
    color: #494949;
}

#main-part {
    height: calc(100% - 150px);
    overflow-y: auto;
    background-image: url(../img/whatsapp_doodles.jpg);
    background-size: cover;
    padding: 70px 90px 0 90px;
}

#main-part .chat {
    display: flex;
}

#main-part .chat .message {
    max-width: 75%;
    padding: 15px 16px;
    font-size: 17px;
    background: #d5f9ba;
    border-radius: 10px 10px 0 10px;
    position: relative;
}

#main-part .sent {
    justify-content: flex-end;
    margin: 20px 0;
}

#main-part .received .message {
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

#main-part .chat .message .checks-box {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 4px;
}

#main-part .sent .message .check {
    font-size: 14px;
    color: #8e8e8e;
}

#main-part .received .message i {
    display: none;
}

.checks-box .message-time {
    font-size: 11px;
}

#main-part .sent .message .checks-box .second {
    margin-left: -8px;
}



/* Stili BottomBar */
#bottom-bar {
    height: 70px;
    background-color: #e5ddd5;
    display: flex;
    border-left: 2px solid #98a2b2;
}

.left-section {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emojis-button i, .voice-button i {
    font-size: 26px;
    color: #494949;
}

.middle-section {
    width: 76%;
    flex: 1;
    display: flex;
    align-items: center;
}

.type-area {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 55px;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;
    overflow: hidden;
}

.middle-section span {
    align-self: center;
    background: #ffff;
    height: 55px;
    line-height: 55px;
    color: #494949;
    padding-right: 10px;
    margin-left: -15px;
    cursor: pointer;
    border-radius: 8px;
    visibility: hidden;
}

.middle-section i {
    font-size: 20px;
}

.middle-section textarea:valid ~ span {
    visibility: visible;
}

/* .middle-section textarea:valid ~ .right-section i {
    display: none;
} */

.right-section {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}